<div class="container">
    <div class="row">
        {{#each albums}}
        <div class="col-md-4">
            <div class="card">
                 <img class="card-img-top" src="{{images.[0].url}}" alt="{{name}}"
                    style="max-height: 500px; max-width: 100px" />
                <div class="card-body">
                    <h5 class="card-title">Name: {{name}}</h5>
                    <p class="card-text">Release Date: {{release_date}}</p>
                     <a href="/tracks/{{id}}">View Tracks</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>